<?xml version='1.0' encoding='utf-8'?>
<widget id="io.cordova.atacadao" version="1.0.0" xmlns="http://www.w3.org/ns/widgets" xmlns:cdv="http://cordova.apache.org/ns/1.0">
    <name>Estoque Atacadão</name>
    <description> Relatórios Atacadão </description>
    <author email="dev@cordova.apache.org" href="https://cordova.apache.org">
        Romulo Costa
    </author>
    <content src="index.html" />
    <allow-intent href="http://*/*" />
    <allow-intent href="https://*/*" />
    
    <icon src="img/icon.png" />
</widget>
