/* style.css */

body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  background-color: #f4f4f4;
}

.logo {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 20px;
}

.logo img {
  max-width: 200px;
  height: auto;
}

h1 {
  text-align: center;
  color: #2b2b2b;
}

.day-section {
  background-color: #ffffff;
  border-radius: 8px;
  margin: 20px;
  padding: 20px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

.columns {
  display: flex;
  justify-content: space-between;
}

.column {
  flex: 1;
  padding: 10px;
}

.atacadao {
  background-color: #92ff88;
  border-radius: 8px;
}

.mineirao {
  background-color: #fff788;
  border-radius: 8px;
}

ul {
  list-style: none;
  padding: 0;
}

li {
  margin-bottom: 8px;
}

.reset-btn {
  margin-top: 10px;
  background-color: #d9534f;
  color: white;
  border: none;
  padding: 10px 15px;
  border-radius: 5px;
  cursor: pointer;
}

.reset-btn:hover {
  background-color: #c9302c;
}
.reset-btn:focus {
  outline: none;
}
.reset-btn:active {
  background-color: #ac2925;
}